@font-face {
    src: url(../myfont/static/Jost-MediumItalic.ttf);
    font-family: "jost"; 
}
*{
    margin: opx;
    padding: 0px;
    font-family: "jost";
}
/* start nav */
.jewel{
    background-color: rgb(196, 128, 190);
}
.jewel h1{
    text-align: center;
    padding-top: 25px;
    color: lab(56.88% 51.53 54.4);
}
.nav_logo{
    width: 90px; 
    height: 100px;
    padding-left: 65px;   
}
.nav_buttons{
    float: right;
    padding-right: 15px;
    padding-top: 30px;
    font-size: 20px;
    word-spacing: 7px; 
}
.nav_buttons a{
    text-decoration: none;
    color: lab(56.88% 51.53 54.4); 
}
.nav_buttons a:hover{
    color:lch(78.49% 76.81 86.61 / 0.925);
    text-decoration: underline;
}
.nav_buttons ul {
    list-style: none;    
}
/* end nav */
/* start bunner */
.gold_jewel{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    margin-top:25px;    
}
.jl{
    border: 1px solid rgb(196, 128, 190);
    border-radius: 8px;
    padding-left: 70px;
    padding-top: 30px;
}
.gold_jewel img{
    width: 550px;
    height: 550px;
}
.gold_jewel h3{
    text-align: center;
    color: lab(56.88% 51.53 54.4);
}
/* end bunner */
/* start items */
.items_title{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    color: lab(56.88% 51.53 54.4);
}
.items{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    margin-top:25px;   
}
.items img{
    width: 250px;
    height: 250px;
    margin-left: 20px;
    margin-top: 20px;
}
.itemtaps{
    border: 1px solid lab(56.88% 51.53 54.4);
    border-radius: 15px;
    padding: 20px; 
}
.items img:hover{
    transform: scale(1.1);
    transition-duration: 0.4s;
}
.items h3{
    color: lab(56.88% 51.53 54.4);
}
.items h4{
    color: lab(56.88% 51.53 54.4);
}
.itemtaps a{
    text-decoration: none;
}
.itemtaps button{
    color: hsl(305, 68%, 27%);
    justify-content: center;
    border-radius: 8px;
    background-color: lab(56.88% 51.53 54.4);
}
/* end items */
/* start footer */
.footer{
    display: flex;
}
.footer div{
    justify-content: space-between;
    align-items: flex-start;
    padding:30px;
    margin-top: 30px;
    color: lab(56.88% 51.53 54.4);
}
.lgt h2,.lgt p{
    text-align: center;
} 
.lgt img{
    padding-left: 120px;
}
.opt{
    text-align: center;   
}
.contactinfos p{
    display: flex;
    gap: 10px;
}
.contactinfos h3{
    text-align: center;
}
/* end footer */
.copyright{ 
    text-align: center;
    color: lab(56.88% 51.53 54.4);
}
/* start about */
.about{
    text-indent: 35px;
    text-align: justify;
    font-size: medium;
    color: lab(56.88% 51.53 54.4);
    line-height: 35px;
}
.about h2{
    text-align: center;
}
/* end about */
/* start products */
.products{
    text-indent: 35px;
    text-align: justify;
    font-size: medium;
    color: lab(56.88% 51.53 54.4);
    line-height: 35px;
}
.products h2{
    text-align: center;
}
.producttypes{
    display: flex;
    gap: 50px;
    justify-content: center; 
    color: lab(56.88% 51.53 54.4);
    font-size: larger;
    padding-top: 40px;
}
.producttypes a{
    text-decoration: none;
    color: lab(56.88% 51.53 54.4);
}
.producttypes a:hover{
    color:lch(78.49% 76.81 86.61 / 0.925);
    text-decoration: underline;
}
/* stat bracelets */
.braces{
    text-align: center;
    color: lab(56.88% 51.53 54.4);
}
.brimg{
    display: grid;
    grid-template-columns: auto auto auto; 
    gap: 30px;  
    margin-top: 25px;
}
.brimg div{
    border: 1px solid lab(56.88% 51.53 54.4);
    border-radius: 15px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    padding: 10px;
}
.brimg div img{
    width: 100%;
    height: 200px; 
    border-radius: 8px;
}
.brimg div h4{
    text-align: center;
    line-height: 1.2;
    margin: 5px 0;
    color: lab(56.88% 51.53 54.4);
}
.brimg a button{
    margin-top: 10px;
    padding: 10px 30px;
    justify-content: center;
    border-radius: 8px;
    color: hsl(305, 68%, 27%);
    background-color: lab(56.88% 51.53 54.4);
}
.brimg a{
    text-decoration: none;
}
/* end bracelets */
/* start necklaces */
.neck{
    text-align: center;
    color: lab(56.88% 51.53 54.4);
}
.pendants{
    display: grid;
    grid-template-columns: auto auto auto; 
    gap: 30px;  
    margin-top: 25px;
}
.pendants div{
    border: 1px solid lab(56.88% 51.53 54.4);
    border-radius: 15px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    padding: 10px;
}
.pendants div img{
    width: 100%;
    height: 200px; 
    border-radius: 8px;
}
.pendants div h4{
    text-align: center;
    line-height: 1.2;
    margin: 5px 0;
    color: lab(56.88% 51.53 54.4);
}
.pendants div a button{
    margin-top: 10px;
    padding: 10px 30px;
    font-size: large;
    justify-content: center;
    color: hsl(305, 68%, 27%);
    border-radius: 8px;
    background-color: lab(56.88% 51.53 54.4);
}
.pendants div a{
    text-decoration: none;
}
/* end necklaces */
/* start earrings */
.errs{
    text-align: center;
    color: lab(56.88% 51.53 54.4);
}
.ear{
    display: grid;
    grid-template-columns: auto auto auto; 
    gap: 30px;  
    margin-top: 25px;
}
.ear div{
    border: 1px solid lab(56.88% 51.53 54.4);
    border-radius: 15px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    padding: 10px;
}
.ear div img{
    width: 300px;
    height: 300px; 
    border-radius: 8px;
}
.ear div h4{
    text-align: center;
    line-height: 1.2;
    margin: 5px 0;
    color: lab(56.88% 51.53 54.4);
}
.ear a button{
    margin-top: 10px;
    padding: 10px 30px;
    justify-content: center;
    border-radius: 8px;
    color: hsl(305, 68%, 27%);
    background-color: lab(56.88% 51.53 54.4);
}
.ear a{
    text-decoration: none;
}
/* end earrings */
/* start rings */
.rings{
    text-align: center;
    color: lab(56.88% 51.53 54.4);
}
.rin{
    display: grid;
    grid-template-columns: auto auto auto; 
    gap: 30px;  
    margin-top: 25px;
}
.rin div{
    border: 1px solid lab(56.88% 51.53 54.4);
    border-radius: 15px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    padding: 10px;
}
.rin div img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block; 
    border-radius: 8px;
}
.rin div h4{
    text-align: center;
    line-height: 1.2;
    margin: 5px 0;
    color: lab(56.88% 51.53 54.4);
}
.rin div button{
    margin-top: 10px;
    padding: 10px 30px;
    font-size: large;
    justify-content: center;
    color: hsl(305, 68%, 27%);
    border-radius: 8px;
    background-color: lab(56.88% 51.53 54.4);
}
.rin div a{
    text-decoration: none;
}
/* end rings */
/* end products */
/* start service */
.service h2{
    text-align: center;
}
.service p{
    text-indent: 35px;
    text-align: justify;
}
/* end service */
/* start contact */
#contact h2{
    text-align: center;      
    width: 100%;            
    margin: 20px; 
}
.contact{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}
.aboutcontact{
    width: 50%;
    margin-left: 20%;
}
.withcontact{
    width: 50%;
}
/* end contact */
/* start invoice */
.voucher{
    display: block;
}
.voucher div{
   margin-bottom: 25px;
   margin-left: 30%;
}
/* end invoice */
    



