@font-face {
    font-family: "Oswald";
    src: url("../font/static/Oswald-Regular.ttf");
}

* {
    font-family: "Oswald";
}
/* start nav */
.logo {
    width: 150px;
}

.nav_item:hover {
    color: #d6336c !important;
}

.active {
    color: #d6336c !important;
}

.cart_noti {
    position: relative;
    top: -15px;
    left: -12px;
}

/* end nav */

/* start bunner */
.img_wh {
    width: 100%;
    height: 400px;
}

/* end bunner */

/* start service */
.bg_color {
    background-color: #d6336c;
}

.service_icon {
    width: 60px;
    height: 60px;
    margin: 0px auto;
    border-radius: 50%;
}

.service_card:hover {
    transform: translateY(-5px);
    transition-duration: 0.4s;
    cursor: pointer;
}

/* end service */

/* start brands */
.product_img{
    width: 200px;
    height: 200px;
}
.title_underline {
    width: 100px;
    height: 4px;
}
/* end brands */

/* start promotion */
.underline_bgcolor {
    background-color: #dc336c;
}

.textcolor {
    color: #dc336c;
}

.title_underline {
    width: 100px;
    height: 4px;
}

.fav_icon:hover {
    background-color: #dc336c;
}

.fav_icon:hover .heart_icon {
    color: white !important;
}

.imgsize {
    width: 265px;
    height: 240px;
}

/* end promotion */

/* start product_detail */
.thumb_img{
    width: 85px;
    height: 85px;
}
.textcolor {
    color: #dc336c;
}
.input_quantity{
    width: 200px;
}
.btncolor{
    background-color: #dc336c;
}
/* end product_detail */

/* start bestseller */
.imghover:hover {
    transform: translateY(-9px);
    transition-duration: 0.4s;
    cursor: pointer;
}
.card_imgsize{
    height: 240px;
}

.textcolor {
    color: #dc336c;
}
.btncolor{
    background-color: #dc336c;
}
.title_underline {
    width: 100px;
    height: 4px;
}
/* end bestseller */

/* start promotion */
.textcolor {
    color: #dc336c;
}
.bgcolor{
    background-color: #dc336c;
}
.btncolor{
    background-color: #dc336c;
}
/* end promotion */

/* start blog */

.textcolor {
    color: #dc336c;
}
.bgcolor{
    background-color: #dc336c;
}
/* end blog */

/* start blogdetails */
.textcolor {
    color: #dc336c;
}
/* end blogdetails */

/* start faq */
.textcolor {
    color: #dc336c;
}
.bgcolor{
    background-color: #dc336c;
}
/* end faq */

/* start about */
.textcolor {
    color: #dc336c;
}
.bgcolor{
    background-color: #dc336c;
}
/* end about */

/* start contact */
.textcolor {
    color: #dc336c;
}
.bgcolor{
    background-color: #dc336c;
}
/* end contact */

/* start favourite */
.textcolor {
    color: #dc336c;
}
.bgcolor{
    background-color: #dc336c;
}
/* end favourite */

/* start cart */
.textcolor {
    color: #dc336c;
}
.bgcolor{
    background-color: #dc336c;
}
.btncolor{
    background-color: #dc336c;
}


/* start quantity box length */
.input_boxleng{
    width: 150px;
}
/* end quantity box length */

/* start space_row */
.space_row{
margin-right: 1.5in;
}
/* end space_row */

/* start btn_size */
.sizebtn{
    width: 90%;
    height: 30px;
    border-radius: 20px;
    padding-top: 3px;
    padding-bottom: 5px;
}
/* end btn_size */

/* end cart */

/* start partner */
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Slider */
/* end partner */

/* start footer */
.footer{
    background-color: black;
    color: white;
    font-size: 0.95rem;
}

.footer .footer-link{
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 8px;
    transition: color 0.3s;
}

.footer .footer-link:hover{
    color: #d6336c;
}

.footer .social-icons a{
    transition: all 0.3s ease;
}

.footer .social-icons a:hover{
    color: #d6336c;
    transform: translateY(-3px);
}

footer hr{
    opacity: 0.2;
}
/* end footer */
