h1{
    color: red;
    text-align: center;
}

/* id selector */
#idselector{
    color: green;
    line-height: 25px;
    word-spacing: 25px;
    text-transform: capitalize;
}

/* class selector */
.classselector{
    color: brown;
    line-height: 20px;
    text-indent: 50px;
    text-transform: uppercase;
}

/* child */
#child > a{
    color:red;
}

/* decendent */
#desc a{
    color:green;
}

/* pseudo selector*/

/* a:link{
    text-decoration: none;
    letter-spacing: 10px;
}

a:hover{
    color: green;
}

a:active{
    color: yellow;
    font-size: 40px;
}

a:visited{
    color: brown;
} */

/* target */

p:target{
    color: brown;
    text-transform: uppercase;
    line-height: 20px;
}

div:target{
    color: green;
    text-transform: uppercase;
    line-height: 20px;
}

/* border */
.borderone{
    border: 10px solid red;
}

.bordertwo{
    border-top: 10px dotted navy;
    border-left: 10px dotted navy;
    border-right: 10px dotted navy;
}

.borderthree{
   /* border-style: dotted; */
   /* all */
   /* border-style: dotted solid; */
   /* T&B / L&R */
   /* border-style:solid dashed double dotted; */
   /* T / R /B / L */
   border-style: solid dotted double;
   /* T / L&R / B */
}

.borderfour{
    border-style: solid;
    border-color: red yellow green navy;
    border-width: 30px 20px 25px 20px;
}

/* margin */
*{
    margin: 0px;
    padding: 0px;
}

.marginone{
    margin: 50px 100px;
    border: 1px solid black;
}

.margintwo{
    margin-top: -200px;
    border: 1px solid black;
}

.paddingone{
    /* padding: 10px 200px; */
    border: 1px solid black;
    padding-top: 300px;
}

/* layout */
.inline{
    border: 2px solid red;
    width: 400px;
    display: inline-block;
}

.border{
    border: 2px solid green;
}

.block{
    border: 2px solid green;
    width: 400px;
    display: inline-block;
}
/* float */

.float_left img{
    width:30%;
    border:2px solid black;
    float:left;
}

.clear{ 
    clear: left;
}

.float_right img{
    width: 30%;
    float: right;
    border: 2px solid blue;
}

/* grid */
.gridone div,.gridtwo div,.gridthree div,.gridfour div,.gridfive div,.gridsix div{
    padding:30px;
    color: white;
    text-align: center;
}

.gridone,.gridtwo,.gridthree,.gridfour,.gridfive,.gridsix{
    display: grid;
    grid-template-columns: auto auto auto;
}

.gridtwo{
    grid-column-gap: 40px;
}

.gridthree{
    grid-row-gap: 50px;
}

.gridfour{
    grid-gap: 40px;
    /* grid-column-gap: 40px; */
    /* grid-row-gap: 60px; */
}

.columnadd{
    grid-column-start: 1;
    grid-column-end: 3;
}

.rowadd{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
}

/* position */
.position_relative_parent{
    border: 2px solid black;
    width: 1000px;
    height: 500px;
}

.position_relative{
    border: 2px solid red;
    width: 600px;
    height: 300px;
    position: relative;
    top: 50px;
    right: 100px; 
}

.position_absolute_parent{
    border: 2px solid brown;
    width: 1000px;
    height: 500px;
    position: relative;
}

.position_absolute{
    width: 600px;
    height: 300px;
    border: 2px solid green;
    position: absolute;
    top: 50px;
    right: 50px;
    left: 50px; 
}

.fixed{
    position: fixed;
    top: 100px;
    right: 50px;
}

/* online font */

.online_font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

/* offline font */
@font-face {
    src: url(../font/static/YanoneKaffeesatz-Bold.ttf);
    font-family: "Bold";
}

.offline_font{
    font-family: "Bold";
}

/* media css  */
/* phone size */
@media (max-width: 600px){
    body{
        background-color: blue;
    } 
}

/* tablet size */
@media (min-width: 601px) and (max-width: 900px){
    body{
        background-color: red;
    }
}

/* laptop size */
@media (min-width: 901px) and (max-width: 1201px){
    body{
        background-color: yellow;
    }
}

/* extra laptop size */
@media (min-width: 1201px){
    body{
        background-color: green;
    }
}

